@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #fafafa;
}
.container{
    margin: 5em auto;
    height: auto;
    width: 100%;
    letter-spacing: 1px;
    line-height: 20px;
}
.reliable{
    letter-spacing: 1px;
    line-height: 20px;
    font-weight: 200;
    font-size: 24px;
    margin-top: 15px;
    color: #535260;
}
.powered{
    font-weight: 600;
    font-size: 25px;
    margin-top: 10px;
    color: #535260;
    letter-spacing: 1px;
    line-height: 20px;
}
.paragraph{
    color: #b1b1b3;
    font-size: 14px;
    padding: 2em;
    margin-top: 5px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.first{
    border: none;
    background-color: white;
    border-top: 4px solid hsl(180, 62%, 55%);
    display: grid;
    grid-area: sv;
    width: 90%;
    padding: 1.5em;
}
.row h3{
    color: #535260;
    display: block;
    font-size: 1.17em;  
    font-weight: 600;
}
.row p{
    color: #c7c6cb;
    font-size: 11px;
    width: 70%;
   
}
.icons{
    width: 60px;
    position: relative;
    left: 80%;
    top: 20px;
}
.second{
    border: none;
    border-top: 4px solid hsl(0, 78%, 62%);
    display: grid;
    grid-area: sv;
    width: 90%;
    padding: 1.5em;
}
.third{
    border: none;
    border-top: 4px solid hsl(34, 97%, 64%);
    display: grid;
    grid-area: sv;
    width: 90%;
    padding: 1.5em;
}
.fourth{
    border: none;
    border-top: 4px solid hsl(212, 86%, 64%);
    display: grid;
    grid-area: sv;
    width: 90%;
    padding: 1.5em;
}
@media only screen and (min-width: 1200px) {
    .first {
    margin-top: 150px;
    }
}
@media only screen and (min-width: 1200px) {
    .fourth {
    margin-top: 150px;
    }
}
 
  